/* Hero Section Container */
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  position: sticky;
  background-color: black;
}

.hero-content {
  animation: fadeIn 1s ease-in-out forwards;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Hero Title */
.hero-content h1 {
  color: lightgrey;
  font-size: 4rem;
  font-weight: 700;
  opacity: 0;
  animation: slideIn 1s ease-in-out forwards 0.5s; /* Slide in after 0.5s */
}

/* Hero Description */
.hero-content p {
  font-size: 1.2rem;
  color: lightgrey;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards 1s; /* Fade in after 1s */
  font-weight: 500;
}

/* Hero Button */
.hero-content button {
  background-color: #fff; /* DodgeBlue button */
  color: #000;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards 1.5s; /* Fade in after 1.5s */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-content button:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(30, 144, 255, 0.4); /* Shadow effect on hover */
}

/* Hero Background Animation */
.background {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10000;
  opacity: 0.8;
}
span {
  font-size: 1.4em;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  background: rgba(0, 0, 0, 0) -webkit-gradient(
      linear,
      left top,
      right top,
      from(#90f3b3),
      color-stop(#90e9f3),
      color-stop(#909ff3),
      color-stop(#cc90f3),
      color-stop(#f390d1),
      color-stop(#f39a90),
      color-stop(#f3e590),
      to(#b8f390)
    ) repeat scroll 0% 0%/200% 200%;
  background: rgba(0, 0, 0, 0)
    linear-gradient(
      90deg,
      #90f3b3,
      #90e9f3,
      #909ff3,
      #cc90f3,
      #f390d1,
      #f39a90,
      #f3e590,
      #b8f390
    )
    repeat scroll 0% 0%/200% 200%;
  background-clip: border-box;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

span:hover {
  -webkit-animation: GradientAnimation 2s ease infinite;
  animation: GradientAnimation 2s ease infinite;
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
.background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #000000, #000000);
  display: flex;
  flex-grow: 1;
  z-index: -1;
}

.background div {
  position: absolute;
  border-radius: 100%;
  height: 0;
  filter: blur(240vw);
  opacity: 0.4;
}

.background div:nth-child(1) {
  background: linear-gradient(132deg, #1fcfc3 0%, #1f91cf 100%);
  width: 30%;
  padding-top: 30%;
  left: 20%;
  top: 41%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(2) {
  background: linear-gradient(132deg, #0800ff 0%, #e32be3 100%);
  width: 40%;
  padding-top: 40%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(3) {
  background: linear-gradient(132deg, #1fcfc3 0%, #1f91cf 100%);
  width: 30%;
  padding-top: 30%;
  left: 80%;
  top: 80%;
  transform: translateX(-50%) translateY(-50%);
}
