* {
  transition: 0.3s;
}
.chat-view-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new-chat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 100px;
}
.chat-view-container .active {
  flex: 1;
  width: 100%;
  padding: 0;
  justify-content: space-between;
  background-color: transparent;
}
.new-chat-greetings {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.new-chat-greetings span {
  font-size: 2.5em;
  background: rgba(0, 0, 0, 0)
    linear-gradient(
      90deg,
      #21146b,
      rgb(14, 12, 141),
      rgb(30, 83, 255),
      rgb(30, 105, 255),
      rgb(30, 94, 255),
      rgb(17, 119, 221),
      dodgerblue,
      rgb(94, 175, 255)
    )
    repeat scroll 0% 0% / 200% 200%;
  background-clip: border-box;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.new-chat-greetings p {
  font-size: 0.89rem;
  color: grey;
}
.new-chat-prompts {
  display: flex;
  width: 100%;
  gap: 10px;
}
.new-chat-prompt {
  flex: 1;
  aspect-ratio: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: width;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  color: black;
  font-size: 0.8rem;
  transition: 0.3s;
}
.new-chat-prompt:hover {
  opacity: 0.8;
  transform: scale(1.03);
  cursor: pointer;
}
.new-chat-chat-box-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  aspect-ratio: 5;
  border-radius: 8px;
  background-color: rgba(215, 213, 213, 0.177);
  padding: 20px;
}
.active-chat-box {
  aspect-ratio: 15;
}
.new-chat-line-one {
  flex: 1;
  display: flex;
}
.new-chat-line-one textarea {
  border: none;
  font-size: 0.8rem;
  outline: none;
  background-color: transparent;
  flex: 1;
  font-family: "Arial", sans-serif;
}

.new-chat-line-two {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.attach-document-button {
  font-size: 0.8rem;
  color: grey;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.no-display {
  display: none;
}
.attach-document-button:hover {
  color: black;
}
.send-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.send-button-container .character-count {
  font-size: 0.8rem;
  color: grey;
  margin-left: 5px;
}
.send-button {
  font-family: inherit;
  font-size: 0.8em;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.send-button p {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.send-button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.send-button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.send-button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.send-button:hover p {
  transform: translateX(5em);
}

.send-button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
.chat-area {
  flex: 1;
  width: 100%;
  background-color: white;
}
.chat-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
}
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}
.chat-header p {
  font-weight: 500;
  font-size: 0.8rem;
  color: grey;
  cursor: pointer;
}
.new-chat-button:hover {
  color: dodgerblue;
}
.chat-message {
  color: black;
  font-size: 1rem;
  font-weight: 500;
}
.user {
  align-self: flex-end;
  background-color: rgba(211, 211, 211, 0.692);
  border-radius: 20px;
  padding: 10px 15px;
}
.ai {
  align-self: flex-start;
}
