.navbar {
  position: fixed;
  width: 100vw;
  display: flex;
  z-index: 1000;
  padding: 20px 60px;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(2.4px);
  transition: top 0.3s ease-in-out;
}

.navbar.visible {
  top: 0;
}

.navbar.hidden {
  top: -100px; /* Adjust based on your navbar height */
}

.navbar .navbar-logo {
  flex: 1;
  cursor: pointer;
}
.navbar-logo span {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.navbar li {
  cursor: pointer;
  transition: 0.3s;
  color: grey;
}
.navbar li:hover {
  color: darkgrey;
}
.navbar p {
  color: grey;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  flex: 1;
  text-align: right;
  cursor: pointer;
  transition: 0.3s;
}
.navbar p:hover {
  color: darkgrey;
}

.navbar span:hover {
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  background: rgba(0, 0, 0, 0) -webkit-gradient(
      linear,
      left top,
      right top,
      from(#90f3b3),
      color-stop(#90e9f3),
      color-stop(#909ff3),
      color-stop(#cc90f3),
      color-stop(#f390d1),
      color-stop(#f39a90),
      color-stop(#f3e590),
      to(#b8f390)
    ) repeat scroll 0% 0%/200% 200%;
  background: rgba(0, 0, 0, 0)
    linear-gradient(
      90deg,
      #90f3b3,
      #90e9f3,
      #909ff3,
      #cc90f3,
      #f390d1,
      #f39a90,
      #f3e590,
      #b8f390
    )
    repeat scroll 0% 0%/200% 200%;
  background-clip: border-box;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation: GradientAnimation 2s ease infinite;
  animation: GradientAnimation 2s ease infinite;
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
