/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 1rem;
  z-index: 1000; /* Ensure the navbar stays on top */
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}

.navbar li {
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.navbar li:hover {
  font-size: 1.1em;
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  background: rgba(0, 0, 0, 0) -webkit-gradient(
      linear,
      left top,
      right top,
      from(#90f3b3),
      color-stop(#90e9f3),
      color-stop(#909ff3),
      color-stop(#cc90f3),
      color-stop(#f390d1),
      color-stop(#f39a90),
      color-stop(#f3e590),
      to(#b8f390)
    ) repeat scroll 0% 0%/200% 200%;
  background: rgba(0, 0, 0, 0)
    linear-gradient(
      90deg,
      #90f3b3,
      #90e9f3,
      #909ff3,
      #cc90f3,
      #f390d1,
      #f39a90,
      #f3e590,
      #b8f390
    )
    repeat scroll 0% 0%/200% 200%;
  background-clip: border-box;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation: GradientAnimation 2s ease infinite;
  animation: GradientAnimation 2s ease infinite;
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.navbar .navbar-logo {
  margin-right: 1rem;
  font-weight: 800;
}
